
.form-label {
  display: block;
  margin-top: 16px;
  font-size: 18px;
}

.form-checkbox {
  width: 24px;
  height: 24px;
}

.form-checkbox-label {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  color: var(--dark-grey);
  font-size: 16px;
}

.form-checkbox-label__input {
  width: 18px;
  height: 18px;
  border: 1px solid var(--light-grey);
  margin-right: 12px;
}

.form-submit {
  margin-top: 16px;
}

.form-error-message {
  font-size: 14px;
  color: var(--danger);
}

.primary-button {
  background: var(--primary);
  text-align: center;
  color: var(--white);
  font-size: 18px;
  border-radius: 12px;
  border: none;
  height: 54px;
  padding: 0 16px;
}

.primary-button:hover,
.primary-button:focus {
    background: var(--primary-dark);
}

.ghost-button {
    height: 42px;
    background-color: transparent;
    border-radius: 6px;
    padding: 10px;
    border: 1px solid var(--light-grey-4);
}

.primary-button_full-width {
  width: 100%;
}

.ghost-button:hover,
.ghost-button:focus {
    background-color: var(--white-grey);
}