
.form-label {
  display: block;
  margin-top: 16px;
  font-size: 18px;
}

.login-form {
  margin-top: 32px;
}

.form-checkbox {
  width: 24px;
  height: 24px;
}

.form-checkbox-label {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  color: var(--dark-grey);
  font-size: 16px;
}

.form-checkbox-label__input {
  width: 18px;
  height: 18px;
  border: 1px solid var(--light-grey);
  margin-right: 12px;
}

.primary-button {
  background: var(--primary);
  text-align: center;
  color: var(--white);
  font-size: 18px;
  border-radius: 12px;
  border: none;
  height: 54px;
  padding: 0 16px;
}

.primary-button_full-width {
  width: 100%;
}

.form-submit {
  margin-top: 16px;
}

.form-error-message {
  font-size: 14px;
  color: var(--danger);
}
