
.form-label {
  display: block;
  margin-top: 16px;
  font-size: 18px;
}

.enhanced-input {
  position: relative;
  background: var(--white);
  box-sizing: border-box;
  height: 55px;
  margin-top: 6px;
  border-radius: 12px;
  border: 1px solid var(--light-grey);
}

.enhanced-input__controls {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 54px;
  height: 53px;
  z-index: 1;
}

.enhanced-input input {
  border: none;
  background: none;
  font-size: 18px;
  padding-left: 54px;
}

.enhanced-input__icon {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  z-index: 0;
}

.enhanced-input__action {
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  padding: 0;
  margin: 0;
  background: none;
}

.enhanced-input__action:focus {
  // outline: 1px solid var(--light-primary);
}

.login-form {
  margin-top: 32px;
}

.form-checkbox {
  width: 24px;
  height: 24px;
}

.form-checkbox-label {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  color: var(--dark-grey);
  font-size: 16px;
}

.form-checkbox-label__input {
  width: 18px;
  height: 18px;
  border: 1px solid var(--light-grey);
  margin-right: 12px;
}

.primary-button {
  background: var(--primary);
  text-align: center;
  color: var(--white);
  font-size: 18px;
  border-radius: 12px;
  border: none;
  height: 54px;
  padding: 0 16px;
}

.primary-button_full-width {
  width: 100%;
}

.form-submit {
  margin-top: 16px;
}

.form-error-message {
  font-size: 14px;
  color: var(--danger);
}
