.pagination-slide-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    width: 30px;
    height: 30px;
    color: var(--medium-grey-2);
}

.pagination-arrow-button {
    margin-left: 3px;
    margin-right: 3px;
}

.pagination-slide-button_selected {
    color: var(--white);
    background: var(--primary-axtra-pale);
}