.search-backdrop {
    flex-grow: 1;
    display: flex;
    flex-direction: column;    
    justify-content: start;

    background: var(--white-grey-2);
}

.search-input-box {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background: var(--white);
}

.search-list-box {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    background: var(--white);
}

.content-container {
    max-width: 1920px;
    flex-grow: 1;
}

.search-input-card {
    display: grid;
    grid-template-columns: minmax(200px, 0.4fr) minmax(400px, 0.915fr) minmax(200px, 0.4fr);
}

.whide-card-input {
    width: 100%;
    height: 48px;
    border: none;
    border-radius: 8px;
    background: var(--white-grey-3);
}