.search-backdrop {
    flex-grow: 1;
    display: flex;
    flex-direction: column;    
    justify-content: start;

    background: var(--white-grey-2);
}

.search-input-box {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background: var(--white);
}

.search-list-box {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    background: var(--white);
}

.content-container {
    max-width: 1920px;
    flex-grow: 1;
}

.search-input-card {
    display: grid;
    grid-template-columns: minmax(200px, 0.4fr) minmax(400px, 0.915fr) minmax(200px, 0.4fr);
    align-items: center;
    padding: 26px 30px;
}

.whide-card-input {
    width: 100%;
    height: 48px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background: var(--white-grey-3);
}

.card-input-label {
    font-size: 26px;
    font-weight: bold;
}

.icon-input {
    position: relative;
}

.icon-input__icon {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 0 8px 0 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon-input__input {
    padding: 0 20px 0 52px;
}