.search-backdrop {
    flex-grow: 1;
    display: flex;
    flex-direction: column;    
    justify-content: start;

    background: var(--white-grey-2);
}

.search-list-box {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    background: var(--white);
    overflow: hidden;
}

@keyframes progressBar {
  0%   {transform: translate(-150%, 0);}
  100% {transform: translate(300%, 0);}
}

.progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    background-color: var(--primary-pale);
    width: 40%;
    animation: progressBar 1.5s linear 0s infinite normal;
}

.content-container {
    max-width: 1920px;
    min-width: 1200px;
    flex-grow: 1;
}

.search-input-card {
    display: grid;
    grid-template-columns: minmax(200px, 0.4fr) minmax(400px, 0.915fr) minmax(200px, 0.4fr);
    align-items: center;
    padding: 26px 30px;
}

.whide-card-input {
    width: 100%;
    height: 48px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background: var(--white-grey-3);
}

.card-input-label {
    font-size: 26px;
    font-weight: bold;
}

.icon-input {
    position: relative;
}

.icon-input__icon {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 0 8px 0 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon-input__input {
    padding: 0 20px 0 52px;
}

.card-content {
    padding: 30px;
}

.search-input-box {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background: var(--white);
}

.content-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.content-header h2 {
    font-size: 21px;
    font-weight: bold;
}

.primary-button_simple {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 6px;
    height: 42px;
    padding: 0 20px;
}

.button-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 16px;
}

.content-header__controls {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 8px;
}

.ghost-button {
    height: 42px;
    background-color: transparent;
    border-radius: 6px;
    padding: 10px;
    border: 1px solid var(--light-grey-4);
}

.commodity-table {
    margin-top: 40px;
}

.commodity-table-line {
    display: grid;
    grid-template-columns: 22px 2fr repeat(5, 1fr);
    align-items: center;
    gap: 20px;
    padding: 0 18px;
    height: 73px;
    box-sizing: border-box;
}

.commodity-table-line_header {
    color: var(--medium-grey-2);
    font-size: 18px;
    font-weight: bold;
}

.center-text {
    text-align: center;
}

.commodity-table-line__table-row {
    position: relative;
    border: 1px solid var(--light-grey-5);
    border-left: none;
    border-right: none;
    font-size: 16px;
}

.commodity-table-line__table-row_active {
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        height: 100%;
        width: 3px;
        background: var(--primary-pale);
    }
}

.commodity-table__footer {
    display: grid;
    grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr);
    align-items: center;
    margin-top: 40px;
    height: 52px;
}

.commodity-table__total-caption {
    color: var(--dark-grey-2);
}

.important-caption {
    color: var(--dark-2);
}

.commodity-table__pagination {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 8px;
}
