@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter-VariableFont_opsz,wght.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter-Italic-VariableFont_opsz,wght.ttf');
  font-style: italic;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --black: #000000;
  --light-grey: #EDEDED;
  --dark: #232323;
  --white: #FFFFFF;
  --grey: #C9C9C9;
  --primary: #242EDB;
  --light-primary: #367AFF;
  --darken-grey: #6C6C6C;
  --dark-grey: #9C9C9C;
  --medium-grey: #CACACA;
  --light-grey-3: #E0E0E0;
  --light-grey-2: #EBEBEB;
  --white-grey-2: #F6F6F6;
  --white-grey-3: #F3F3F3;
  --white-grey: #F9F9F9;
  --danger: #aa0000;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  flex-grow: 1;
}

a {
  font-weight: 500;
  color: var(--primary);
  text-decoration: underline;
}

a:hover {
  color: var(--primary);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  flex-direction: column;
}
