@import "./styles/form";

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter-VariableFont_opsz,wght.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter-Italic-VariableFont_opsz,wght.ttf');
  font-style: italic;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --black: #000000;
  --light-grey: #EDEDED;
  --dark: #232323;
  --dark-2: #333333;
  --white: #FFFFFF;
  --grey: #C9C9C9;
  --primary: #242EDB;
  --primary-dark: #2027a4;
  --primary-pale: #3C538E;
  --primary-axtra-pale: #797FEA;
  --primary-axtra-pale-2: #6f74d9;
  --light-primary: #367AFF;
  --darken-grey: #6C6C6C;
  --dark-grey: #9C9C9C;
  --dark-grey-2: #969B9F;
  --dark-grey-3: #999999;
  --medium-grey: #CACACA;
  --medium-grey-2: #B2B3B9;
  --medium-grey-3: #C4C4C4;
  --light-grey-3: #E0E0E0;
  --light-grey-4: #ECECEB;
  --light-grey-5: #E2E2E2;
  --light-grey-2: #EBEBEB;
  --white-grey-2: #F6F6F6;
  --white-grey-3: #F3F3F3;
  
  --white-grey: #F9F9F9;
  --danger: #aa0000;
  --extra-danger: #F11010;
  
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  flex-grow: 1;
}

a {
  font-weight: 500;
  color: var(--primary);
  text-decoration: underline;
}

a:hover {
  color: var(--primary);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  flex-direction: column;
}

.react-responsive-modal-modal {
  border-radius: 20px;
}