.commodity-figure {
    display: grid;
    grid-template-columns: 48px 1fr;
    gap: 18px;
    align-items: center;
}

.commodity-figure__image {
    width: 48px;
    height: 48px;
    border-radius: 8px;
    background-color: var(--medium-grey-3);
}

.commodity-figure__image_with-content {
    background-color: transparent;
}

.commodity-figure__image img {
    width: 48px;
    height: 48px;
    border-radius: 8px;
}

.commodity-figure__caption {
    
}

.commodity-figure__caption-name {
    font-size: 16px;
    font-weight: bold;
}

.commodity-figure__caption-category {
    font-size: 14px;
    color: var(--medium-grey-2);
}

.bold-text {
    font-weight: bold;
}

.primary-button_tiny {
    display: flex;
    align-items: center;
    height: 27px;
    border-radius: 23px;
    padding: 0 14px;
}

.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.icon-button {
    border: none;
    padding: 0;
    background-color: transparent;
}

.button-more {
    width: 26px;
    height: 26px;
}

.low-raiting {
    color: var(--extra-danger);
}

.decimals {
    color: var(--dark-grey-3);
}